In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
data = pd.read_csv('personality_scores.csv', delimiter=";")

In [3]:
data

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
data.columns.values

array(['ID', 'Section 5 of 6 [I am always prepared.]',
       'Section 5 of 6 [I am easily disturbed.]',
       'Section 5 of 6 [I am exacting (demanding) in my work.]',
       'Section 5 of 6 [I am full of ideas.]',
       'Section 5 of 6 [I am interested in people.]',
       'Section 5 of 6 [I am not interested in abstract ideas.]',
       "Section 5 of 6 [I am not interested in other people's problems.]",
       'Section 5 of 6 [I am not really interested in others.]',
       'Section 5 of 6 [I am quick to understand things.]',
       'Section 5 of 6 [I am quiet around strangers.]',
       'Section 5 of 6 [I am relaxed most of the time.]',
       'Section 5 of 6 [I am the life of the party.]',
       'Section 5 of 6 [I change my mood a lot.]',
       'Section 5 of 6 [I do not have a good imagination.]',
       "Section 5 of 6 [I don't like to draw attention to myself.]",
       "Section 5 of 6 [I don't mind being the center of attention.]",
       "Section 5 of 6 [I don't talk a lot.]",
       'Section 5 of 6 [I feel comfortable around people.]',
       'Section 5 of 6 [I feel little concern for others.]',
       "Section 5 of 6 [I feel others' emotions.]",
       'Section 5 of 6 [I follow a schedule.]',
       'Section 5 of 6 [I get chores done right away.]',
       'Section 5 of 6 [I get irritated easily.]',
       'Section 5 of 6 [I get stressed out easily.]',
       'Section 5 of 6 [I get upset easily.]',
       'Section 5 of 6 [I have a rich vocabulary.]',
       'Section 5 of 6 [I have a soft (kind) heart.]',
       'Section 5 of 6 [I have a vivid imagination.]',
       'Section 5 of 6 [I have difficulty understanding abstract ideas.]',
       'Section 5 of 6 [I have excellent ideas.]',
       'Section 5 of 6 [I have frequent mood swings.]',
       'Section 5 of 6 [I have little to say.]',
       'Section 5 of 6 [I insult people.]',
       'Section 5 of 6 [I keep in the background.]',
       'Section 5 of 6 [I leave my belongings lying around.]',
       'Section 5 of 6 [I like order.]',
       'Section 5 of 6 [I make a mess of things.]',
       'Section 5 of 6 [I make people feel at ease.]',
       'Section 5 of 6 [I neglect my duties.]',
       'Section 5 of 6 [I often feel blue (down).]',
       'Section 5 of 6 [I often forget to put things back in their proper place]',
       'Section 5 of 6 [I pay attention to details.]',
       'Section 5 of 6 [I seldom feel blue (down).]',
       'Section 5 of 6 [I spend time reflecting on things.]',
       'Section 5 of 6 [I start conversations.]',
       "Section 5 of 6 [I sympathize with others' feelings.]",
       'Section 5 of 6 [I take time out for others.]',
       'Section 5 of 6 [I talk to a lot of different people at parties.]',
       'Section 5 of 6 [I use difficult words.]',
       'Section 5 of 6 [I worry about things.]', 'Unnamed: 51',
       'Unnamed: 52', 'Unnamed: 53', 'Unnamed: 54', 'Unnamed: 55',
       'Unnamed: 56', 'Unnamed: 57', 'Unnamed: 58', 'Unnamed: 59',
       'Unnamed: 60', 'Unnamed: 61', 'Unnamed: 62', 'Unnamed: 63',
       'Unnamed: 64', 'Unnamed: 65', 'Unnamed: 66', 'Unnamed: 67',
       'Unnamed: 68', 'IPIP_HIGH_RISK'], dtype=object)

In [5]:
data.isna().sum()

ID                                                           0
Section 5 of 6 [I am always prepared.]                       0
Section 5 of 6 [I am easily disturbed.]                      0
Section 5 of 6 [I am exacting (demanding) in my work.]       0
Section 5 of 6 [I am full of ideas.]                         0
                                                          ...
Unnamed: 65                                               1555
Unnamed: 66                                               1555
Unnamed: 67                                               1555
Unnamed: 68                                               1555
IPIP_HIGH_RISK                                            1555
Length: 70, dtype: int64

In [6]:
#total number of null values in the data-set.
data.isna().sum().sum()

29545

In [7]:
data.loc[:,data.isnull().any()]

,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#left out cols with NaN values into new data set
new_data = data.loc[:,data.notnull().all()]

In [9]:
##total number of null values in the new_data-set.
new_data.isna().sum().sum()

0

In [10]:
new_data.drop_duplicates(subset='ID', keep='first', inplace=False)

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 3)","(1, 5)","(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 5)"
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(3, 3)","(3, 3)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 3)"
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,"(3, 3)","(3, 5)","(4, 5)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 3)","(2, 3)","(1, 1)","(5, 1)","(4, 3)"
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 3)","(1, 3)","(2, 5)","(2, 3)","(1, 1)","(5, 1)","(4, 3)"

In [11]:
duplicated_rows_id= new_data[new_data.duplicated(['ID'])]
print ("number of duplicate rows in ID: ",duplicated_rows_id.shape)

number of duplicate rows in ID:  (0, 51)

In [12]:
#set the id as the index in the new dataset
new_data.set_index("ID").head()

,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],Section 5 of 6 [I am quiet around strangers.],...,Section 5 of 6 [I often forget to put things back in their proper place],Section 5 of 6 [I pay attention to details.],Section 5 of 6 [I seldom feel blue (down).],Section 5 of 6 [I spend time reflecting on things.],Section 5 of 6 [I start conversations.],Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.]
ID,,,,,,,,,,,,,,,,,,,,,
0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 5)","(4, 3)","(5, 5)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)","(1, 3)",...,"(3, 5)","(3, 1)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)"
2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 1)","(5, 3)","(1, 3)","(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"
3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)","(1, 3)",...,"(3, 1)","(3, 5)","(4, 1)","(5, 5)","(1, 5)","(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)"
4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)","(1, 1)",...,"(3, 5)","(3, 5)","(4, 5)","(5, 5)","(1, 3)","(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)"

In [13]:
# new data frame is the length of the unique entries of the original data frame.

len(new_data)

1555

In [14]:
new_data.duplicated()
print ("number of duplicate rows: ", new_data.shape)

number of duplicate rows:  (1555, 51)

In [15]:

def set_scores(row_items, number, data):
    '''Returns a count'''
    count = 0
    for column in data.columns:
        breakdown = row_items[column]
        if type(breakdown) == str:
            tup_break = breakdown[1]
            result = int(breakdown[4])
            if tup_break == number:
                count += result
    return count

In [16]:
new_data['Extraversion'] = new_data.apply(lambda row_items : set_scores(row_items,'1', new_data), axis = 1)
new_data['Agreeableness'] = new_data.apply(lambda row_items : set_scores(row_items,'2', new_data), axis = 1)
new_data['Conscientiousness'] = new_data.apply(lambda row_items : set_scores(row_items,'3', new_data), axis = 1)
new_data['Neuroticism'] = new_data.apply(lambda row_items : set_scores(row_items,'4', new_data), axis = 1)
new_data['Imagination'] = new_data.apply(lambda row_items : set_scores(row_items,'5', new_data), axis = 1)

/home/recruit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/recruit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/recruit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/recruit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/home/recruit/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [17]:
new_data.head(10)

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I sympathize with others' feelings.],Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Extraversion,Agreeableness,Conscientiousness,Neuroticism,Imagination
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 3)","(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36
5,5,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 1)",48,46,42,46,36
6,6,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 3)","(4, 1)",38,44,50,36,42
7,7,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 3)","(1, 5)","(5, 1)","(4, 3)",30,48,48,42,42
8,8,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(2, 1)","(1, 5)","(5, 3)","(4, 3)",40,46,48,44,48
9,9,"(3, 3)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 3)","(5, 5)",...,"(2, 5)","(2, 5)","(1, 5)","(5, 5)","(4, 1)",32,44,36,18,42

In [18]:
depart = pd.read_csv('departments.csv',delimiter = ';')

In [19]:
depart.isnull().sum().sum()

0

In [20]:
depart.head(10)

   ID Department
0   0       Data
1   1       Data
2   2       Data
3   3       Data
4   4       Data
5   5       Data
6   6       Data
7   7       Data
8   8       Data
9   9       Data

In [21]:
Department = depart.Department.replace('Web dev', 'Web Dev')
Department.unique()

array(['Data', 'Web Dev', 'Copywriting', 'Design', 'Strategy'],
      dtype=object)

In [22]:
Department.value_counts()

Strategy       449
Web Dev        331
Data           329
Copywriting    326
Design         120
Name: Department, dtype: int64

In [23]:
Department.describe()

count         1555
unique           5
top       Strategy
freq           449
Name: Department, dtype: object

In [24]:
new_depart = Department.dropna()

In [25]:
#new_depart = depart.set_index("ID")

In [26]:
len(new_data), len(new_depart)

(1555, 1555)

In [27]:
joined_df = pd.concat([new_data, new_depart], axis=1)

joined_df.head(10)

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I take time out for others.],Section 5 of 6 [I talk to a lot of different people at parties.],Section 5 of 6 [I use difficult words.],Section 5 of 6 [I worry about things.],Extraversion,Agreeableness,Conscientiousness,Neuroticism,Imagination,Department
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",30,40,48,36,42,Data
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 3)",42,46,46,40,42,Data
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,40,40,38,42,Data
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,"(2, 5)","(1, 5)","(5, 1)","(4, 1)",30,38,38,40,38,Data
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,"(2, 5)","(1, 3)","(5, 1)","(4, 3)",28,34,46,38,36,Data
5,5,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 1)",48,46,42,46,36,Data
6,6,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 3)","(4, 1)",38,44,50,36,42,Data
7,7,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 3)","(1, 5)","(5, 1)","(4, 3)",30,48,48,42,42,Data
8,8,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(2, 1)","(1, 5)","(5, 3)","(4, 3)",40,46,48,44,48,Data
9,9,"(3, 3)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 3)","(5, 5)",...,"(2, 5)","(1, 5)","(5, 5)","(4, 1)",32,44,36,18,42,Data

In [28]:
#newly created merged data frame has the same amount of rows as the department data frame
len(joined_df) == len(new_depart)

True

In [29]:
def health_rate(score,score_name):
    '''A function that gives score for health risk rating'''

    if score <= 30:
        return 'high_risk'
    else:
        return 'low_risk'
    
joined_df['Neuroticism_score'] = joined_df['Neuroticism'].apply(lambda column: health_rate(column,'Neuroticism'))
joined_df['Agreeableness_score'] = joined_df['Agreeableness'].apply(lambda column: health_rate(column,'Agreeableness'))
joined_df['Conscientiousnessn_score'] = joined_df['Conscientiousness'].apply(lambda column: health_rate(column,'Conscientiousness'))

In [30]:
joined_df.tail(10)

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Section 5 of 6 [I worry about things.],Extraversion,Agreeableness,Conscientiousness,Neuroticism,Imagination,Department,Neuroticism_score,Agreeableness_score,Conscientiousnessn_score
1545,1545,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 3)","(5, 5)","(2, 3)","(2, 3)","(5, 3)",...,"(4, 1)",28,32,36,28,32,Web Dev,high_risk,low_risk,low_risk
1546,1546,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,"(4, 5)",22,40,48,30,36,Web Dev,high_risk,low_risk,low_risk
1547,1547,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 1)","(2, 5)","(5, 5)",...,"(4, 1)",22,42,46,30,38,Web Dev,high_risk,low_risk,low_risk
1548,1548,"(3, 3)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 5)","(5, 3)",...,"(4, 1)",44,46,28,24,46,Web Dev,high_risk,low_risk,high_risk
1549,1549,"(3, 3)","(4, 1)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(4, 1)",30,44,36,28,42,Web Dev,high_risk,low_risk,low_risk
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(4, 5)",32,48,38,44,44,Web Dev,low_risk,low_risk,low_risk
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,"(4, 3)",40,48,40,44,34,Web Dev,low_risk,low_risk,low_risk
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,"(4, 3)",42,44,40,46,48,Web Dev,low_risk,low_risk,low_risk
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,"(4, 3)",36,38,48,36,44,Web Dev,low_risk,low_risk,low_risk
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,"(4, 3)",22,44,42,40,30,Web Dev,low_risk,low_risk,low_risk

In [31]:
#table_df = pd.pivot_table(joined_df, index=['ID'],columns=['Department'], aggfunc=np.sum)

In [32]:
col_three = joined_df[['ID', 'Neuroticism','Agreeableness', 'Conscientiousness', 'Department']]

In [33]:
col_three

        ID  Neuroticism  Agreeableness  Conscientiousness Department
0        0           36             40                 48       Data
1        1           40             46                 46       Data
2        2           38             40                 40       Data
3        3           40             38                 38       Data
4        4           38             34                 46       Data
...    ...          ...            ...                ...        ...
1550  1550           44             48                 38    Web Dev
1551  1551           44             48                 40    Web Dev
1552  1552           46             44                 40    Web Dev
1553  1553           36             38                 48    Web Dev
1554  1554           40             44                 42    Web Dev

[1555 rows x 5 columns]

In [34]:
low_filter = col_three[(col_three['Neuroticism'] >= 30) & (col_three['Agreeableness'] >= 30) & (col_three['Conscientiousness'] >= 30)]

In [35]:
low_filter = pd.DataFrame(low_filter)

In [36]:
low_filter['Risk'] = 'low_risk'

In [37]:
low_filter

        ID  Neuroticism  Agreeableness  Conscientiousness Department      Risk
0        0           36             40                 48       Data  low_risk
1        1           40             46                 46       Data  low_risk
2        2           38             40                 40       Data  low_risk
3        3           40             38                 38       Data  low_risk
4        4           38             34                 46       Data  low_risk
...    ...          ...            ...                ...        ...       ...
1550  1550           44             48                 38    Web Dev  low_risk
1551  1551           44             48                 40    Web Dev  low_risk
1552  1552           46             44                 40    Web Dev  low_risk
1553  1553           36             38                 48    Web Dev  low_risk
1554  1554           40             44                 42    Web Dev  low_risk

[1271 rows x 6 columns]

In [38]:
low_filter['Department'].value_counts()

Strategy       366
Web Dev        275
Data           268
Copywriting    261
Design         101
Name: Department, dtype: int64

In [39]:
high_filter = col_three[(col_three['Neuroticism'] < 30) & (col_three['Agreeableness'] < 30) & (col_three['Conscientiousness'] < 30) ]

In [40]:
high_filter

        ID  Neuroticism  Agreeableness  Conscientiousness   Department
881    881           28             28                 26         Data
1197  1197           26             22                 26  Copywriting

In [41]:
high_filter = pd.DataFrame(high_filter)

In [42]:
high_filter['Risk'] = 'high_risk'

In [43]:
high_filter

,ID,Neuroticism,Agreeableness,Conscientiousness,Department,Risk
881,881,28,28,26,Data,high_risk
1197,1197,26,22,26,Copywriting,high_risk

In [44]:
high_filter['Department'].value_counts()

Copywriting    1
Data           1
Name: Department, dtype: int64

In [45]:
health = pd.concat([low_filter, high_filter], axis=0)

In [46]:
health_df = health[['ID', 'Department', 'Risk']]
health_df

        ID   Department       Risk
0        0         Data   low_risk
1        1         Data   low_risk
2        2         Data   low_risk
3        3         Data   low_risk
4        4         Data   low_risk
...    ...          ...        ...
1552  1552      Web Dev   low_risk
1553  1553      Web Dev   low_risk
1554  1554      Web Dev   low_risk
881    881         Data  high_risk
1197  1197  Copywriting  high_risk

[1273 rows x 3 columns]

In [51]:
table = pd.pivot_table(health_df,index=['Risk'],columns=['Department'],aggfunc='count').fillna(0.0).astype(int)

In [52]:
table

                    ID
Department Copywriting Data Design Strategy Web Dev
Risk
high_risk            1    1      0        0       0
low_risk           261  268    101      366     275