In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import re

In [2]:
data = pd.read_csv('personality_scores.csv', delimiter=";")

In [3]:
data

,ID,Section 5 of 6 [I am always prepared.],Section 5 of 6 [I am easily disturbed.],Section 5 of 6 [I am exacting (demanding) in my work.],Section 5 of 6 [I am full of ideas.],Section 5 of 6 [I am interested in people.],Section 5 of 6 [I am not interested in abstract ideas.],Section 5 of 6 [I am not interested in other people's problems.],Section 5 of 6 [I am not really interested in others.],Section 5 of 6 [I am quick to understand things.],...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,1550,"(3, 5)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1551,1551,"(3, 3)","(4, 5)","(3, 5)","(5, 3)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1552,1552,"(3, 5)","(4, 3)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,1553,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,1554,"(3, 3)","(4, 5)","(3, 1)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 5)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
data.columns = [x.split("[")[-1].replace(']', '') for x in data.columns]

In [33]:
data.head()

,ID,I am always prepared.,I am easily disturbed.,I am exacting (demanding) in my work.,I am full of ideas.,I am interested in people.,I am not interested in abstract ideas.,I am not interested in other people's problems.,I am not really interested in others.,I am quick to understand things.,...,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,0,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 3)","(5, 3)","(2, 3)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,"(3, 5)","(4, 5)","(3, 5)","(5, 5)","(2, 5)","(5, 3)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,"(3, 5)","(4, 3)","(3, 3)","(5, 5)","(2, 5)","(5, 5)","(2, 5)","(2, 5)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,"(3, 5)","(4, 5)","(3, 3)","(5, 5)","(2, 5)","(5, 3)","(2, 3)","(2, 3)","(5, 3)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,"(3, 3)","(4, 5)","(3, 3)","(5, 3)","(2, 3)","(5, 3)","(2, 3)","(2, 3)","(5, 5)",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data.isna().sum()

ID                                                           0
Section 5 of 6 [I am always prepared.]                       0
Section 5 of 6 [I am easily disturbed.]                      0
Section 5 of 6 [I am exacting (demanding) in my work.]       0
Section 5 of 6 [I am full of ideas.]                         0
                                                          ...
Unnamed: 65                                               1555
Unnamed: 66                                               1555
Unnamed: 67                                               1555
Unnamed: 68                                               1555
IPIP_HIGH_RISK                                            1555
Length: 70, dtype: int64

In [10]:
#total number of null values in the data-set.
data.isna().sum().sum()

29545

In [11]:
data.loc[:,data.isnull().any()]

,Unnamed: 51,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68,IPIP_HIGH_RISK
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1550,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1551,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1554,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
#left out cols with NaN values into new data set
new_data = data.loc[:,data.notnull().all()]

In [13]:
##total number of null values in the new_data-set.
new_data.isna().sum().sum()

0

In [ ]:
new_data.drop_duplicates(subset='ID', keep='first', inplace=False)

In [ ]:
duplicated_rows_id= new_data[new_data.duplicated(['ID'])]
print ("number of duplicate rows in ID: ",duplicated_rows_id.shape)

In [ ]:
#set the id as the index in the new dataset
new_data.set_index("ID").head()

In [ ]:
# new data frame is the length of the unique entries of the original data frame.

len(new_data), len(data)

In [ ]:
assert(len(new_data) == len(data))

In [ ]:
new_data.duplicated()
print ("number of duplicate rows: ", new_data.shape)

In [ ]:

def set_scores(row_items, number, data):
    '''Returns a count'''
    count = 0
    for column in data.columns:
        breakdown = row_items[column]
        if type(breakdown) == str:
            tup_break = breakdown[1]
            result = int(breakdown[4])
            if tup_break == number:
                count += result
    return count

In [ ]:
new_data['Extraversion'] = new_data.apply(lambda row_items : set_scores(row_items,'1', new_data), axis = 1)
new_data['Agreeableness'] = new_data.apply(lambda row_items : set_scores(row_items,'2', new_data), axis = 1)
new_data['Conscientiousness'] = new_data.apply(lambda row_items : set_scores(row_items,'3', new_data), axis = 1)
new_data['Neuroticism'] = new_data.apply(lambda row_items : set_scores(row_items,'4', new_data), axis = 1)
new_data['Imagination'] = new_data.apply(lambda row_items : set_scores(row_items,'5', new_data), axis = 1)

In [ ]:
new_data.head(10)

In [ ]:
depart = pd.read_csv('departments.csv',delimiter = ';')

In [ ]:
depart.isnull().sum().sum()

In [ ]:
depart.head(10)

In [ ]:
Department = depart.Department.replace('Web dev', 'Web Dev')
Department.unique()

In [ ]:
Department.value_counts()

In [ ]:
Department.describe()

In [ ]:
new_depart = Department.dropna()

In [ ]:
len(new_data), len(new_depart)

# 1.new columns containing the total score of each of the personality test subscales

In [ ]:
joined_df = pd.concat([new_data, new_depart], axis=1)

joined_df.head(10)

In [ ]:
#newly created merged data frame has the same amount of rows as the department data frame
len(joined_df) == len(new_depart)

In [ ]:
def health_rate(score,score_name):
    '''A function that gives score for health risk rating'''

    if score <= 30:
        return 'high_risk'
    else:
        return 'low_risk'
    
joined_df['Neuroticism_score'] = joined_df['Neuroticism'].apply(lambda column: health_rate(column,'Neuroticism'))
joined_df['Agreeableness_score'] = joined_df['Agreeableness'].apply(lambda column: health_rate(column,'Agreeableness'))
joined_df['Conscientiousnessn_score'] = joined_df['Conscientiousness'].apply(lambda column: health_rate(column,'Conscientiousness'))

# Print the ID numbers and departments of these applicants to the screen, and also assign these applicants the tag “high_risk” in a new column. All other applicants get the tag “low_risk”

In [ ]:
joined_df.tail(10)

In [ ]:
col_three = joined_df[['ID', 'Neuroticism','Agreeableness', 'Conscientiousness', 'Department']]

In [ ]:
col_three

In [ ]:
low_filter = col_three[(col_three['Neuroticism'] >= 30) & (col_three['Agreeableness'] >= 30) & (col_three['Conscientiousness'] >= 30)]

In [ ]:
low_filter = pd.DataFrame(low_filter)

In [ ]:
low_filter['Risk'] = 'low_risk'

In [ ]:
low_filter

In [ ]:
low_filter['Department'].value_counts()

In [ ]:
high_filter = col_three[(col_three['Neuroticism'] < 30) & (col_three['Agreeableness'] < 30) & (col_three['Conscientiousness'] < 30) ]

In [ ]:
high_filter

In [ ]:
high_filter = pd.DataFrame(high_filter)

In [ ]:
high_filter['Risk'] = 'high_risk'

In [ ]:
high_filter

In [ ]:
high_filter['Department'].value_counts()

In [ ]:
health = pd.concat([low_filter, high_filter], axis=0)

In [ ]:
health_df = health[['ID', 'Department', 'Risk']]
health_df

# 3.new data frame with a count of the number of low and high risk applicants within each department

In [ ]:
table = pd.pivot_table(health_df,index=['Risk'],columns=['Department'],aggfunc='count').fillna(0.0).astype(int)
table.columns = ['Copywriting','Data','Design','Strategy', 'Web Dev']
table.reset_index(inplace=True)

In [ ]:
table